<div class="all-notes-container">
    {{#each notes}}
        <div class="all-notes-body">
            <h4>
                {{ title }} <a href="#"><i class="fas fa-edit"></i></a>
            </h4>
            <p>{{ description }}</p>
        </div>
    {{/each}}
</div>