<header class="notes-header">
    <h2>Edit a Task</h2>
</header>

<!--Creating the form for adding a new task-->
<div class="edit-note">
    <!--Form with a method post and an action that with the data will be on /notes/new-note route-->
    <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST" class="notes-form">
        <input type="hidden" name="_method" value="PUT">
        <div>
            <input type="text" name="title" class="notes-title" value="{{ note.title }}">
        </div>
        <div>
            <textarea name="description" class="notes-description">{{ note.description }}</textarea>
        </div>
        <div>
            <button class="notes-button" type="submit">Save</button>
        </div>
    </form>
</div>