<header class="notes-header">
    <h2>Create a Task</h2>
</header>


<!--Creating the form for adding a new task-->
<div class="create-note">
    <!--Form with a method post and an action that with the data will be on /notes/new-note route-->
    <form action="/notes/new-note" method="POST" class="notes-form">
        <div>
            <input type="text" name="title" placeholder="enter your title task" class="notes-title">
        </div>
        <div>
            <textarea name="description" class="notes-description" placeholder="Description"></textarea>
        </div>
        <div>
            <button class="notes-button" type="submit">Create Task</button>
        </div>
    </form>

</div>