{{#each errors}}
    <div class="alert" role="alert">
        {{text}}
        <button type="button" class="close-alert" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}

<header class="notes-header">
    <h3>Create a Task</h3>
</header>

<div class="create-note">
    <form action="/notes/new-note" method="POST" class="notes-form">
        <div>
            <input type="text" name="title" placeholder="enter your title task" class="notes-title">
        </div>
        <div>
            <textarea name="description" class="notes-description" placeholder="Description"></textarea>
        </div>
        <div>
            <button class="notes-button" type="submit">Create Task</button>
        </div>
    </form>
</div>