{{#each errors}}
    <div id="alert" class="show">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">{{text}}</span>
        <span onclick="closeAlert()" class="close-btn">
            <span class="fas fa-times"></span>
        </span>
    </div>

    <script>
        function closeAlert() {
            const alert = document.getElementById("alert");
            alert.removeAttribute("show");
            alert.setAttribute("hide");
        }
    </script>
{{/each}}

<header class="notes-header">
    <h3>Create a Task</h3>
</header>


<!--Creating the form for adding a new task-->
<div class="create-note">
    <!--Form with a method post and an action that with the data will be on /notes/new-note route-->
    <form action="/notes/new-note" method="POST" class="notes-form">
        <div>
            <input type="text" name="title" placeholder="enter your title task" class="notes-title">
        </div>
        <div>
            <textarea name="description" class="notes-description" placeholder="Description"></textarea>
        </div>
        <div>
            <button class="notes-button" type="submit">Create Task</button>
        </div>
    </form>

</div>