<header class="notes-header">
    <h3>Create a Task</h3>
</header>

<div class="create-note">
    <form action="/" method="POST" class="notes-form">
        <div>
            <input type="text" name="title" placeholder="enter your title task" class="notes-title">
        </div>
        <div>
            <textarea name="" class="notes-description"></textarea>
        </div>
    </form>
</div>