<div class="homepage">
    <h1>Homepage</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos velit voluptate accusamus in quo ad non. Architecto quaerat debitis ut!</p>
    <a href="https://github.com/MathiasHidalgo?tab=overview&from=2023-01-01&to=2023-01-26" class="button">Follow me</a>
</div>