*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

p {
    text-align: center;
}

b{
    margin: 20px;
}
h1{
    text-align: center;
}

body {
    background:  #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
    font-family: 'Inter', sans-serif;
}

.container{
    padding: 3.5rem;
    margin: 0px 0px 180px 0px;
}

.container h3, h4, p {
    color: black;
    text-align: center;
    margin: 30px 0px;
}

.homepage, .about{
    width: 50%;
    height: auto;
    padding: 2rem;
    margin: auto;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
}

.notes-header{
  text-align: center;
  background-color: transparent;
  padding: 20px;
}

/* Form container */
.edit-note, .create-note {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Form input fields */
.notes-title,
.notes-description {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}

/* Form button */
.notes-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Form button hover effect */
.notes-button:hover {
  background-color: #3e8e41;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.button:focus{
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.notes-button {
    font-size: 17px;
    width: 25%;
    padding: 8px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-dismissible {
  padding-right: 4rem;
}

.close {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.close:hover {
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}


.all-notes-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.all-notes-body {
    background: #fcff82;
    padding: 20px;
    width: 75%;
    margin: 10px 2px 4px 1px;
}

.all-notes-delete-button {
  position: relative;
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}



.all-notes-delete-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.all-notes-delete-button:hover:before {
  left: 0;
}

.all-notes-delete-button:after {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.3s ease;
}

.all-notes-delete-button:hover {
  background-color: #ff5555;
}

.all-notes-delete-button:hover:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.5);
}

.no-notes {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: auto;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
}

.no-notes a {
    width: 100%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links ul {
    list-style: none;
    padding: 0;
    margin-right: 30px;
    display: flex;
  }
  
  .nav-links ul li {
    margin-right: 20px;
  }
  
  .nav-links ul li:last-child {
    margin-right: 0;
  }
  
  .nav-links ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content li {
    padding: 10px;
  }
  
  .dropdown-content li a {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-content li:hover {
    background-color: #f0f0f0;
  }
  

  .footer {
    background: none;
    bottom: 0;
    padding: 4px;
    text-align: center;
    font-size: 14px;
  }
  

  .signup-form, .signin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: transparent;
  }
  
  .card {
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
    background-color: transparent;
  }
  
  .card-header {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    background: transparent;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn-signup {
    display: block;
    margin: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-signup:hover {
    background-color: #0069d9;
  }
  