*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

p {
    text-align: center;
}

b{
    margin: 20px;
}
h1{
    text-align: center;
}

body {
    background:  #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
    font-family: 'Inter', sans-serif;
}

.container{
    padding: 3.5rem;
    margin: 0px 0px 90px 0px;
}

.container h3, h4, p {
    color: black;
    text-align: center;
    margin: 30px 0px;
}

.homepage, .about, .create-note, .edit-note{
    width: 50%;
    height: auto;
    padding: 2rem;
    margin: auto;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
}

.notes-form {
    min-height: 20vh;
}

.notes-form > div {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.notes-title, .notes-description {
    width: 70%;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    border: none;
    background: white;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
    font-family: sans-serif;
}


.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 14px;
    margin: 0px 35%;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.button:focus{
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.notes-button {
    font-size: 17px;
    width: 25%;
    padding: 8px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

#alert {
    background-color: #fd5959;
    color: #000;
    padding: 20px 40px;
    min-width: 420px;
    align-items: center;
    margin-bottom: 8px;
    font-size: 18px;
    border-radius: 15px;
    border-left: 8px solid #dc2f2f;
}

.show {
    animation: show_slide 0.5s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.hide {
    display: none;
}

#alert .fa-exclamation-circle {
    color : #a21232;
    margin-right: 20px;
    font-size: 25px;
}

#alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #a21232;
}

#alert .close-btn {
    padding: 10px;
    background: #f83e4b;
    position: relative;
    left: 800px;
    cursor: pointer;
}

.close-btn .fa-times {
    color: #a21232;
    font-size: 22px;
}

.all-notes-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.all-notes-body {
    background: #fcff82;
    padding: 20px;
    width: 25%;
    margin: 10px;
}

.all-notes-delete-button {
    background: linear-gradient(180deg, #f83e4b 0%, #a21232 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 14px;
    margin: 0px 35%;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-origin: border-box;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.7);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}
