<nav>
  <a href="/">Workspace</a>
  <div class="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="dropdown">
      {{#if user}}
        <li><a href="/notes">All notes</a></li>
        <li><a href="/notes/add">Notes add</a></li>
        <div>
          <li><a href="/users/logout">Logout</a></li>
        </div>
      {{else}}
        <li><a href="/users/signin">Signin</a></li>
        <li><a href="/users/signup">Signup</a></li>
      {{/if}}
    </ul>
  </div>
</nav>